// main: ../styles.less

/**
    100 – Thin
    300 - Light
    400 - Regular
    500 - Medium
    700 - Bold
    900 - Black
*/

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
        src: url('./../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

.roboto-thin() {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.roboto-light() {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-medium() {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.roboto-bold() {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.roboto-black() {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

@white: #FFFFFF;
@grey: #868686;
@black: #151519;
@black-light: #1F1F24;

@primary: #E1A100;
@accent: #7D44AF;


@alert: #FF3F1F;
@error: @alert;
@warning: #ffc701;
@success: #01ff73;

@width: calc(~"100% - 32px");
@max-width: 1500px; //400px; //1312px;

@navigationHeight: 60px;


.h2 {
    .roboto-black();
    font-size: 40px;
}

.h3 {
    .roboto-thin();
    font-size: 25px;
}