//main:../styles.less

.fkf-profile {
    padding: 80px 0;

    h2 {
        font-size: 32px;

        &:not(:first-of-type) {
            margin-top: 32px;
        }
    }

    /*ul*/&__orders {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*li*/.fkf-order {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid @black;

            .fkf-dl {
                margin: 0;
            }
            
            /*ul*/&__products {
                list-style-type: none;
                margin: 0;
                padding: 0;

                /*li*/.fkf-product-item {
                    display: -ms-grid;
                    display: grid;
                    -ms-grid-columns: auto 1fr;
                    grid-template-columns: auto 1fr;

                    &__image {
                        width: 100px;
                        height: 100px;
                        padding-top: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &__logout-btn {
        width: 100%;
        margin-top: 64px;
    }
}