//main:../styles.less

.fkf-home {

    h2 {
        margin-bottom: 20px;
    }

    &__header {
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 60vh;
        margin-bottom: 32px;

        div {
            position: absolute;
            bottom: 40px;
            left: 20px;
            color: @white;
            max-width: @max-width;
            margin-left: auto;
            margin-right: auto;

            .breakpoint(large, {
                .translate(-50%, -50%);
                left: 50%;
                top: 45%;
                bottom: auto;
                text-align: center;
                width: 100%;
            });

            h1 {
                font-size: 30px;
                line-height: 30px;
                margin: 0 0 40px 0;
                width: 90%;

                .breakpoint(large, {
                    text-align: center;
                    width: 100%;
                    margin-bottom: 32px;
                    font-size: 50px;
                    line-height: 50px;
                });
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(70%);
        }
    }
}