//main:../styles.less

.fkf-login {
    padding-top: 100px;
    min-height: calc(100vh ~"-" @navigationHeight ~"-" 120px);

    .wrapper {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 30px;
    }

    .fkf-btn.small {
        text-align: left;
        font-size: 12px;
    }
}

.fkf-form {
    width: 100%;

    label:not(.fkf-checkbox), button, input {
        display: block;
        width: 100%;
        margin-bottom: 20px;

        &.fkf-btn.small {
            display: table;
            width: auto;
        }
    }
    
    .fkf-checkbox {
        margin-bottom: 20px;
    }
}