//main:../styles.less

.fkf-checkout {
    padding: 40px 0;
    width: @width;
    max-width: @max-width;
    min-height: calc(100vh ~"-" @navigationHeight ~"-" 120px);

    h2 {
        margin-bottom: 32px;
    }

    &__wrapper {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    &__finish {
        padding: 30px 0;

        h1 {
            text-align: center;
        }

        .fkf-btn.small {
            margin: 24px auto 0 auto;
        }
    }

    &__methods {
        padding: 30px 0;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 20px 0;
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            &:last-of-type {
                margin-bottom: 30px;
            }

            li {
                input[type="radio"] {
                    display: none;
                    & ~ label {
                        transition: opacity .3s ease ;
                        opacity: 0.3;
                    }

                    &:checked ~ label {
                        opacity: 1;
                    }
                }
            }
        }

        .fkf-btn {
            display: block;
            width: 100%;
        }
    }

    &__overview {
        padding: 30px 0;
    
        h2 {
            margin-bottom: 30px;
        }
    
        h3 {
            margin: 20px 0;
        }
    
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    
        &__total-price {
            .roboto-black();
            border-top: 2px solid @black;
            padding-top: 10px;
            font-size: 19px;
            text-align: center;
        }
    
        .fkf-product-item {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: auto 1fr;
            grid-template-columns: auto 1fr;
            &__image {
                width: 100px;
                height: 100px;
                padding-top: 0;
                margin-right: 20px;
            }
    
            &__amount {
                left: 90px;
            }
        }
    
        .fkf-btn {
            margin-top: 20px;
            width: 100%;
        }
    }
}