//main:../styles.less

.fkf-dl {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 120px 5px 120px;
    grid-template-columns: 120px 120px;
    grid-gap: 5px;
    font-size: 16px;

    dt,dd {
        margin: 0;
    }

    dt {
        .roboto-black();
    }

    dd {
        img {
            max-width: 50px;
        }
    }
}