//main:../styles.less

/*div*/.fkf-product-list {
   
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 25px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;

        .breakpoint(medium, {
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        });

        .fkf-product-item {
            position: relative;
            margin-bottom: 20px;
            .fkf-btn {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                font-size: 0;
                background-color: transparent;

                &:after {
                    position: absolute;
                    bottom: -29px;
                    left: 0;
                    display: block;
                    content: "Mehr erfahren";
                    width: 100%;
                    height: 34px;
                    background-color: @black;
                    color: @white;
                    font-size: 13px;
                    line-height: 34px;
                    text-align: center;
                }
            }
        }

    }
}