//main:  ../styles.less

.fkf-expandable-paragraph {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 10px;


    .breakpoint(medium, {
        max-height: none;
    });

    &:not(.is--expanded) {
        &:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            background: #f2f4f5;
            background: linear-gradient(180deg, rgba(242,244,245,0) 0%, #f2f4f5 100%);

            .breakpoint(medium, {
                display: none;
            });
        }
    }


    &.is--expanded {
        max-height: none;
    }

    & ~ .fkf-expandable-paragraph__btn {
        .roboto-black();
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 15px;
        margin: -5px 0 20px 0;

        .breakpoint(medium, {
            display: none;
        });
    }
}