//main:../styles.less

/*div*/.fkf-product-detail {
    position: relative;

    .breakpoint(medium, {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    });
    
    &__back-btn {
        position: absolute;
        top: 20px;
        left: 10px;
        padding: 5px 0;
        color: @black;
        width: 40px;
        z-index: 2;
        text-align: center;

        .breakpoint(medium, {
            top: -50px;
            z-index: 99;
        });

        svg {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        padding-top: 100%;
        margin-bottom: 10px;
        background-color: @grey;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 95%;
        margin: 40px auto 0 auto
    }

    &__title {
        .roboto-black();
        margin: 0;
        font-size: 32px;
    }

    &__description {
        font-size: 18px;
    }

    &__price {
        .roboto-black();
        margin: 0 0 20px 0;
        font-size: 25px;
    }

    .fkf-btn {
        display: block;
        width: 100%;
    }
}