// main: ../styles.less

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

/*ul*/.fkf-snackbars {
    .translateX(-50%);
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    width: @width;
    max-width: @max-width;
    bottom: calc(@navigationHeight ~"+" 4px);
    left: 50%;
    z-index: 999999;
    pointer-events: none;

    .breakpoint(medium, {
        .translate(-50%, -50%);
        max-width: 500px;
        top: 50%;
        left: calc(50% ~"+" 127.5px);
        left: 50%;
    });

    &.has-content {
        & ~ div[class^='we'] {
            -webkit-filter: blur(8px);
            filter: blur(8px);
        }
    }
}

/*li*/.fkf-snackbar {
    transform: translateY(0px);
    transition: all 0.15s ease;
    position: relative;
    width: 100%;
    background-color: @white;
    border-radius: 4px;
    border-top: 10px solid @grey;
    padding: 32px 18px 10px 20px;
    z-index: 10;
    pointer-events: all;

    &.is--enter {
        transform: translateY(20px);
        opacity: 0.01;
    }

    &.is--enter.is--enter-active {
        transform: translateY(-10px);
        opacity: 1;
        margin-bottom: 0;
    }

    &.is--leave {
        opacity: 1;
    }

    &.is--leave.is--leave-active {
        opacity: 0.01;
    }

    &.is--appear.is--appear-active {
        .animation(bounce 0.5s linear 1 alternate);
    }


    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
    
    &.error {
        border-color: @error;
    }
    
    &.success {
        border-color: @success;
    }
    
    &.warning {
        border-color: @warning;
    }

    /*button*/&__close-btn {
        position: absolute;
        top: 18px;
        right: 18px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__title {
        .roboto-black();
        font-size: 24px;
        margin: 0 0 16px 0;
    }

    &__message {
        .roboto();
        margin: 0 0 24px 0;

        b {
            .roboto-black();
        }
    }

    &__action {
        text-align: right;

        &.is--confirm .fkf-btn:first-child {
            background-color: @white;
            border: 2px solid @black;
            color: @black;
            padding: 8px 15px;
            margin-right: 10px;
        }

        .fkf-btn {
            display: inline-block;
            background-color: @black;
            color: @white;
            text-decoration: none;
            padding: 10px 15px;
    
            svg {
                margin-left: 10px;
            }
        }
    }

    .keyframes(
        bounce;
        {
            0% { transform:translateY(-10%); }
            20% { transform:translateY(-10%); }
            70% { transform:translateY(00%); }
            80% { transform:translateY(10%); }
            100% { transform:translateY(0); }
            
        }
    );
}