//main:../styles.less

/*label*/.fkf-checkbox {
    .roboto-bold();
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    input[type="checkbox"] {
        display: none;

        &:checked ~ .fkf-checkbox__input {
            &::before {
                width: 13px;
                height: 13px;
            }
        }

    }
    span {
        display: block;
    }

    &__input {
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid @black;
        margin-right: 10px;

        &::before {
            .translate(-50%, -50%);
            content: "";
            transition: all .3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            display: block;
            
            background-color: @black;
        }
    }
}