//main:../styles.less

/*aside*/.fkf-cart {
    .box-shadow-2();
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: @white;
    z-index: 99;
    padding: 40px 20px;

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
    }

    &__title {
        .roboto-black();
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    &__checkout-btn {
        position: absolute;
        bottom: 120px;
        display: block;
        width: calc(100% ~"-" 20px);
        left: 10px;
    }

    &__items {
        list-style-type: none;
        margin: 0;
        padding: 0;

        /*li*/.fkf-product-item {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
            &__image {
                width: 100px;
                height: 100px;
                padding-top: 0;
                margin-right: 20px;
            }

            &__content {
                width: calc(100% ~"-" 100px);
            }

            &__amount {
                .roboto-black();
                position: absolute;
                top: -8px;
                left: 80px;
                width: 20px;
                padding: 2px 0;
                font-size: 14px;
                background-color: @black;
                color: @white;
                text-align: center;
                border-radius: 50%;
                margin: 0;
            }
        }
    }
}