//main: ../styles.less

.fkf-navigation {
    .box-shadow-4();
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: @navigationHeight;
    background-color: @white;
    z-index: 99;

    ul {
        list-style-type: none;
        padding: 20px;
        margin: 0 auto;
        height: 100%;
        width: @width;
        max-width: @max-width;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        li {
            a {
                display: block;
                color: @black;
                //width: 30px;
                padding: 3px 0;
                text-align: center;
                text-decoration: none;
            }

            button {
                background-color: transparent;
                border: none;
            }
            
            a, button {
                text-align: center;
                font-size: 11px;
                letter-spacing: 0.4px;
                text-transform: uppercase;

                svg {
                    display: block;
                    margin: 0 auto 5px auto;
                }

                &.active {
                    .roboto-black();
                }
            }

        }
    }

    .breakpoint(xlarge, {
        ul {
            margin-right: 5%;
        }
    });
    .breakpoint(large, {
        top: 0px;
        right: 0;
        left: auto;
        bottom: auto;
        box-shadow: none;
        background-color: @white;
        z-index: 9;

        ul {
            width: 300px;
            margin: 0 3% 0 0;
            float: right;

            li {
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }
    });
}