//main:../styles.less

// main: ../styles.less
.fkf-loading {
    .translate(-50%, -50%);
    position: fixed;
    top: 35%;
    left: 50%;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  
    & > div {
        width: 13px;
        height: 13px;
        background-color: @grey;
    
        &:not(:last-child) {
            margin-right: 5px;
        }
    
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
  
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
  
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}