//main:  ../styles.less

.fkf-btn {
    .roboto-medium();
    padding: 15px 25px;
    background-color: @black;
    color: @white;
    font-size: 16px;
    letter-spacing: 0.7px;
    min-height: 34px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    text-decoration: none;

    svg {
        display: inline-block;
        vertical-align: bottom;
        height: 22px;
        margin-left: 10px;
    }

    &.white {
        background-color: @white;
        color: @black;
    }

    &.small {
        position: relative;
        display: table;
        background-color: transparent;
        color: @black;
        padding: 0;
        min-height: 0;
        border-bottom: 2px solid @black;
    }
}