//main:../styles.less

.fkf-product-item {
    position: relative;

    &:hover {
        .fkf-product-item__image img {
            transform: scale(1.2);
        }
    }

    &__image {
        position: relative;
        width: 100%;
        padding-top: 100%;
        margin-bottom: 10px;
        background-color: @grey;
        overflow: hidden;

        img {
            transition: transform .3s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        .roboto-black();
        margin: 0;
    }

    &__price {
        margin: 0 0 10px 0;
    }

    &__amount {
        .roboto-black();
        position: absolute;
        top: -8px;
        left: 80px;
        width: 20px;
        padding: 2px 0;
        font-size: 14px;
        background-color: @black;
        color: @white;
        text-align: center;
        border-radius: 50%;
        margin: 0;
    }

    .fkf-btn {
        display: block;
        padding: 10px;

        svg {
            margin: 0;
        }
    }
}