//main:../styles.less

.fkf-footer {
    text-align: center;
    color: @white;
    background-color: @black;
    margin-top: 64px;
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 12px;
}