//main:../styles.less

/*label*/.fkf-input {
    .roboto-bold();
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    
    input {
        .roboto();
        border: 2.2px solid @black;
        padding: 8px 10px;
        margin-top: 4px;
    }
}