// main: ../styles.less

@import "./box-shadow.less";

.breakpoint ( @point, @content ) {

    & when (@point = small) {
      @media only screen and (min-width : 20em) { @content(); }
    }

    & when (@point = medium) {
      @media only screen and (min-width: 40.063em) { @content(); }
    }

    & when (@point = large) {
      @media only screen and (min-width: 64.063em) { @content(); }
    }

    & when (@point = xlarge) {
      @media only screen and (min-width: 85.063em) { @content(); }
    }

    & when (@point = xxlarge) {
      @media only screen and (min-width: 120.063em)  { @content(); }
    }

    & when (@point = retina) {
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) { @content(); }
    }

    & when (@point = iphone) {
      @media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { @content(); }
    }
}

.background-gradient() {
    background: rgb(255,109,95);
    background: -o-linear-gradient(284deg, rgba(255,109,95,1) 0%, rgba(125,68,175,1) 100%);
    background: linear-gradient(166deg, rgba(255,109,95,1) 0%, rgba(125,68,175,1) 100%);
}

.transition(@ele: all, @time: .3s, @type: ease ) {
    -webkit-transition: @ele @time @type;
    -o-transition: @ele @time @type;
    transition: @ele @time @type;
}

.translate( @x, @y ) {
    -webkit-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
        transform: translate(@x, @y);
}

.translateY( @y ) {
    -webkit-transform: translateY(@y);
    -ms-transform: translateY(@y);
        transform: translateY(@y);
}

.translateX( @x ) {
    -webkit-transform: translateX(@x);
    -ms-transform: translateX(@x);
        transform: translateX(@x);
}