@import './components/_components.less';
@import './mixins/_mixins.less';
@import './variables/_variables.less';
@import './pages/_pages.less';

* {
    box-sizing: border-box;
    text-rendering: geometricprecision;
}

body {
    .roboto();
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: @white;
    overflow: visible;
}

#root {
    padding-bottom: @navigationHeight;

    .breakpoint(large, {
        padding-top: @navigationHeight;
        padding-bottom: 0;
    });
}

a, button, label {
    cursor: pointer;
}

button, input {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    .roboto-black();
    margin: 0;
}

h1, h2 {
    .h2();
}

.fkf-main-logo {
    .translateX(-50%);
    position: fixed;
    top: 10px;
    left: 50%;
    width: 100px;
    z-index: 99;
    mix-blend-mode: difference;

    img {
        width: 100%;
    }
}

.fkf-teaser {
    position: relative;
    height: 400px;
    margin-bottom: 32px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    h1 {
        .translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        color: @white;
        z-index: 2;
    }
}