.fkf-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 15px 25px;
  background-color: #151519;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0.7px;
  min-height: 34px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  text-decoration: none;
}
.fkf-btn svg {
  display: inline-block;
  vertical-align: bottom;
  height: 22px;
  margin-left: 10px;
}
.fkf-btn.white {
  background-color: #FFFFFF;
  color: #151519;
}
.fkf-btn.small {
  position: relative;
  display: table;
  background-color: transparent;
  color: #151519;
  padding: 0;
  min-height: 0;
  border-bottom: 2px solid #151519;
}
/*label*/
.fkf-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.fkf-input input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 2.2px solid #151519;
  padding: 8px 10px;
  margin-top: 4px;
}
/*label*/
.fkf-checkbox {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fkf-checkbox input[type="checkbox"] {
  display: none;
}
.fkf-checkbox input[type="checkbox"]:checked ~ .fkf-checkbox__input::before {
  width: 13px;
  height: 13px;
}
.fkf-checkbox span {
  display: block;
}
.fkf-checkbox__input {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #151519;
  margin-right: 10px;
}
.fkf-checkbox__input::before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  display: block;
  background-color: #151519;
}
.fkf-dl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 5px 120px;
  grid-template-columns: 120px 120px;
  grid-gap: 5px;
  font-size: 16px;
}
.fkf-dl dt,
.fkf-dl dd {
  margin: 0;
}
.fkf-dl dt {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.fkf-dl dd img {
  max-width: 50px;
}
/*ul*/
.fkf-snackbars {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  width: calc(100% - 32px);
  max-width: 1500px;
  bottom: calc(60px + 4px);
  left: 50%;
  z-index: 999999;
  pointer-events: none;
}
@media only screen and (min-width: 40.063em) {
  .fkf-snackbars {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 500px;
    top: 50%;
    left: calc(50% + 127.5px);
    left: 50%;
  }
}
.fkf-snackbars.has-content ~ div[class^='we'] {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
/*li*/
.fkf-snackbar {
  transform: translateY(0px);
  transition: all 0.15s ease;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  border-top: 10px solid #868686;
  padding: 32px 18px 10px 20px;
  z-index: 10;
  pointer-events: all;
  /*button*/
}
.fkf-snackbar.is--enter {
  transform: translateY(20px);
  opacity: 0.01;
}
.fkf-snackbar.is--enter.is--enter-active {
  transform: translateY(-10px);
  opacity: 1;
  margin-bottom: 0;
}
.fkf-snackbar.is--leave {
  opacity: 1;
}
.fkf-snackbar.is--leave.is--leave-active {
  opacity: 0.01;
}
.fkf-snackbar.is--appear.is--appear-active {
  -webkit-animation: bounce 0.5s linear 1 alternate;
  -moz-animation: bounce 0.5s linear 1 alternate;
  animation: bounce 0.5s linear 1 alternate;
}
.fkf-snackbar:not(:last-of-type) {
  margin-bottom: 10px;
}
.fkf-snackbar.error {
  border-color: #FF3F1F;
}
.fkf-snackbar.success {
  border-color: #01ff73;
}
.fkf-snackbar.warning {
  border-color: #ffc701;
}
.fkf-snackbar__close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.fkf-snackbar__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 16px 0;
}
.fkf-snackbar__message {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 0 24px 0;
}
.fkf-snackbar__message b {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.fkf-snackbar__action {
  text-align: right;
}
.fkf-snackbar__action.is--confirm .fkf-btn:first-child {
  background-color: #FFFFFF;
  border: 2px solid #151519;
  color: #151519;
  padding: 8px 15px;
  margin-right: 10px;
}
.fkf-snackbar__action .fkf-btn {
  display: inline-block;
  background-color: #151519;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 15px;
}
.fkf-snackbar__action .fkf-btn svg {
  margin-left: 10px;
}
@-moz-keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
.fkf-navigation {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 99;
}
.fkf-navigation ul {
  list-style-type: none;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  width: calc(100% - 32px);
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fkf-navigation ul li a {
  display: block;
  color: #151519;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
}
.fkf-navigation ul li button {
  background-color: transparent;
  border: none;
}
.fkf-navigation ul li a,
.fkf-navigation ul li button {
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.fkf-navigation ul li a svg,
.fkf-navigation ul li button svg {
  display: block;
  margin: 0 auto 5px auto;
}
.fkf-navigation ul li a.active,
.fkf-navigation ul li button.active {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
@media only screen and (min-width: 85.063em) {
  .fkf-navigation ul {
    margin-right: 5%;
  }
}
@media only screen and (min-width: 64.063em) {
  .fkf-navigation {
    top: 0px;
    right: 0;
    left: auto;
    bottom: auto;
    box-shadow: none;
    background-color: #FFFFFF;
    z-index: 9;
  }
  .fkf-navigation ul {
    width: 300px;
    margin: 0 3% 0 0;
    float: right;
  }
  .fkf-navigation ul li:not(:last-child) {
    margin-right: 25px;
  }
}
.fkf-footer {
  text-align: center;
  color: #FFFFFF;
  background-color: #151519;
  margin-top: 64px;
  padding: 40px 0;
  text-transform: uppercase;
  font-size: 12px;
}
/*aside*/
.fkf-cart {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: #FFFFFF;
  z-index: 99;
  padding: 40px 20px;
}
.fkf-cart__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
.fkf-cart__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px 0;
}
.fkf-cart__checkout-btn {
  position: absolute;
  bottom: 120px;
  display: block;
  width: calc(100% - 20px);
  left: 10px;
}
.fkf-cart__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*li*/
}
.fkf-cart__items .fkf-product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fkf-cart__items .fkf-product-item__image {
  width: 100px;
  height: 100px;
  padding-top: 0;
  margin-right: 20px;
}
.fkf-cart__items .fkf-product-item__content {
  width: calc(100% - 100px);
}
.fkf-cart__items .fkf-product-item__amount {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: -8px;
  left: 80px;
  width: 20px;
  padding: 2px 0;
  font-size: 14px;
  background-color: #151519;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}
.fkf-loading {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 35%;
  left: 50%;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.fkf-loading > div {
  width: 13px;
  height: 13px;
  background-color: #868686;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.fkf-loading > div:not(:last-child) {
  margin-right: 5px;
}
.fkf-loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.fkf-loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*div*/
.fkf-product-list ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
@media only screen and (min-width: 40.063em) {
  .fkf-product-list ul {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.fkf-product-list ul .fkf-product-item {
  position: relative;
  margin-bottom: 20px;
}
.fkf-product-list ul .fkf-product-item .fkf-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 0;
  background-color: transparent;
}
.fkf-product-list ul .fkf-product-item .fkf-btn:after {
  position: absolute;
  bottom: -29px;
  left: 0;
  display: block;
  content: "Mehr erfahren";
  width: 100%;
  height: 34px;
  background-color: #151519;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 34px;
  text-align: center;
}
.fkf-product-item {
  position: relative;
}
.fkf-product-item:hover .fkf-product-item__image img {
  transform: scale(1.2);
}
.fkf-product-item__image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
  background-color: #868686;
  overflow: hidden;
}
.fkf-product-item__image img {
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fkf-product-item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0;
}
.fkf-product-item__price {
  margin: 0 0 10px 0;
}
.fkf-product-item__amount {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: -8px;
  left: 80px;
  width: 20px;
  padding: 2px 0;
  font-size: 14px;
  background-color: #151519;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}
.fkf-product-item .fkf-btn {
  display: block;
  padding: 10px;
}
.fkf-product-item .fkf-btn svg {
  margin: 0;
}
.fkf-page-wrapper {
  width: calc(100% - 32px);
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
/*div*/
.fkf-product-detail {
  position: relative;
}
@media only screen and (min-width: 40.063em) {
  .fkf-product-detail {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.fkf-product-detail__back-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 5px 0;
  color: #151519;
  width: 40px;
  z-index: 2;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  .fkf-product-detail__back-btn {
    top: -50px;
    z-index: 99;
  }
}
.fkf-product-detail__back-btn svg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.fkf-product-detail__image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
  background-color: #868686;
}
.fkf-product-detail__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fkf-product-detail__content {
  width: 95%;
  margin: 40px auto 0 auto;
}
.fkf-product-detail__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0;
  font-size: 32px;
}
.fkf-product-detail__description {
  font-size: 18px;
}
.fkf-product-detail__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 0 20px 0;
  font-size: 25px;
}
.fkf-product-detail .fkf-btn {
  display: block;
  width: 100%;
}
.fkf-expandable-paragraph {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (min-width: 40.063em) {
  .fkf-expandable-paragraph {
    max-height: none;
  }
}
.fkf-expandable-paragraph:not(.is--expanded):after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  background: #f2f4f5;
  background: linear-gradient(180deg, rgba(242, 244, 245, 0) 0%, #f2f4f5 100%);
}
@media only screen and (min-width: 40.063em) {
  .fkf-expandable-paragraph:not(.is--expanded):after {
    display: none;
  }
}
.fkf-expandable-paragraph.is--expanded {
  max-height: none;
}
.fkf-expandable-paragraph ~ .fkf-expandable-paragraph__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
  margin: -5px 0 20px 0;
}
@media only screen and (min-width: 40.063em) {
  .fkf-expandable-paragraph ~ .fkf-expandable-paragraph__btn {
    display: none;
  }
}
/**
    100 – Thin
    300 - Light
    400 - Regular
    500 - Medium
    700 - Bold
    900 - Black
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.fkf-login {
  padding-top: 100px;
  min-height: calc(100vh - 60px - 120px);
}
.fkf-login .wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.fkf-login h1 {
  margin-bottom: 30px;
}
.fkf-login .fkf-btn.small {
  text-align: left;
  font-size: 12px;
}
.fkf-form {
  width: 100%;
}
.fkf-form label:not(.fkf-checkbox),
.fkf-form button,
.fkf-form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.fkf-form label:not(.fkf-checkbox).fkf-btn.small,
.fkf-form button.fkf-btn.small,
.fkf-form input.fkf-btn.small {
  display: table;
  width: auto;
}
.fkf-form .fkf-checkbox {
  margin-bottom: 20px;
}
.fkf-home h2 {
  margin-bottom: 20px;
}
.fkf-home__header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 60vh;
  margin-bottom: 32px;
}
.fkf-home__header div {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: #FFFFFF;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 64.063em) {
  .fkf-home__header div {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    bottom: auto;
    text-align: center;
    width: 100%;
  }
}
.fkf-home__header div h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 40px 0;
  width: 90%;
}
@media only screen and (min-width: 64.063em) {
  .fkf-home__header div h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    font-size: 50px;
    line-height: 50px;
  }
}
.fkf-home__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.fkf-checkout {
  padding: 40px 0;
  width: calc(100% - 32px);
  max-width: 1500px;
  min-height: calc(100vh - 60px - 120px);
}
.fkf-checkout h2 {
  margin-bottom: 32px;
}
.fkf-checkout__wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.fkf-checkout__finish {
  padding: 30px 0;
}
.fkf-checkout__finish h1 {
  text-align: center;
}
.fkf-checkout__finish .fkf-btn.small {
  margin: 24px auto 0 auto;
}
.fkf-checkout__methods {
  padding: 30px 0;
}
.fkf-checkout__methods ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fkf-checkout__methods ul:last-of-type {
  margin-bottom: 30px;
}
.fkf-checkout__methods ul li input[type="radio"] {
  display: none;
}
.fkf-checkout__methods ul li input[type="radio"] ~ label {
  transition: opacity 0.3s ease;
  opacity: 0.3;
}
.fkf-checkout__methods ul li input[type="radio"]:checked ~ label {
  opacity: 1;
}
.fkf-checkout__methods .fkf-btn {
  display: block;
  width: 100%;
}
.fkf-checkout__overview {
  padding: 30px 0;
}
.fkf-checkout__overview h2 {
  margin-bottom: 30px;
}
.fkf-checkout__overview h3 {
  margin: 20px 0;
}
.fkf-checkout__overview ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.fkf-checkout__overview__total-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-top: 2px solid #151519;
  padding-top: 10px;
  font-size: 19px;
  text-align: center;
}
.fkf-checkout__overview .fkf-product-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}
.fkf-checkout__overview .fkf-product-item__image {
  width: 100px;
  height: 100px;
  padding-top: 0;
  margin-right: 20px;
}
.fkf-checkout__overview .fkf-product-item__amount {
  left: 90px;
}
.fkf-checkout__overview .fkf-btn {
  margin-top: 20px;
  width: 100%;
}
.fkf-profile {
  padding: 80px 0;
  /*ul*/
}
.fkf-profile h2 {
  font-size: 32px;
}
.fkf-profile h2:not(:first-of-type) {
  margin-top: 32px;
}
.fkf-profile__orders {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*li*/
}
.fkf-profile__orders .fkf-order {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #151519;
  /*ul*/
}
.fkf-profile__orders .fkf-order .fkf-dl {
  margin: 0;
}
.fkf-profile__orders .fkf-order__products {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*li*/
}
.fkf-profile__orders .fkf-order__products .fkf-product-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}
.fkf-profile__orders .fkf-order__products .fkf-product-item__image {
  width: 100px;
  height: 100px;
  padding-top: 0;
  margin-right: 20px;
}
.fkf-profile__logout-btn {
  width: 100%;
  margin-top: 64px;
}
* {
  box-sizing: border-box;
  text-rendering: geometricprecision;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #FFFFFF;
  overflow: visible;
}
#root {
  padding-bottom: 60px;
}
@media only screen and (min-width: 64.063em) {
  #root {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
a,
button,
label {
  cursor: pointer;
}
button,
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0;
}
h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.fkf-main-logo {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: fixed;
  top: 10px;
  left: 50%;
  width: 100px;
  z-index: 99;
  mix-blend-mode: difference;
}
.fkf-main-logo img {
  width: 100%;
}
.fkf-teaser {
  position: relative;
  height: 400px;
  margin-bottom: 32px;
}
.fkf-teaser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
.fkf-teaser h1 {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}
